.videos {
	display: grid;
}
.one-grid{
	grid-template-columns: auto;
}
.two-grid{
	grid-template-columns: auto auto;
}
.three-grid{
	grid-template-columns: auto auto auto;
}

.video-control{
	position: absolute;
	bottom: 0px;
}
video {
	width: 100%;
}
body{
	margin: 0px;
}