.videos {
	display: grid;
	width: 100%;
	height: 100%;
}
.video-container{
	width:100%;
	height:100%;
	overflow: hidden;
}
.video-container > video{
	position: relative;
	width:100%;
	height:100%;
}
.one-grid{
	grid-template-columns: auto;
}
.two-grid{
	grid-template-columns: auto auto;
}
.three-grid{
	grid-template-columns: auto auto auto;
}

.video-control{
	position: absolute;
	bottom: 0px;
}
video {
	width: 100%;
}
html,body{
	margin: 0px;
	height: 100%;
}
.not-in-use{
	display: none;
}